

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    
    <h1>STACK</h1>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="@Url.Action("AddItem", "Stack")" class="w3-bar-item w3-button">Add One Item to Stack</a>
        <a href="@Url.Action("AddListItems", "Stack")" class="w3-bar-item w3-button">Add Huge List of Items to Stack</a>
        <a href="@Url.Action("DisplayStack", "Stack")" class="w3-bar-item w3-button">Display Stack</a>
        <a href="@Url.Action("DeleteFromStack", "Stack")" class="w3-bar-item w3-button">Delete from Stack</a>
        <a href="@Url.Action("ClearStack", "Stack")" class="w3-bar-item w3-button">Clear Stack</a>
        <a href="@Url.Action("SearchStack", "Stack")" class="w3-bar-item w3-button">Search Stack</a>
        <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a>
    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
           
        </div>

        <div class="w3-container">
            <h3>
                Stack Results:
            </h3>
            <p> @ViewBag.DisplayMessage</p>
            <p> @ViewBag.myStack</p> <!--maybe put this in a new view so it overrides the manipulation area?-->
          
        </div>
        <div>
            <p> Click on the side navigation to manipulate the stack variable</p>
            <img src ="https://idyll.pub/post/blueberry-pancakes-28b1a2e1a8986c44ac091f08/static/images/stack.jpg" alt="pancakes" />

        </div>


    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>

</body>

</html>