<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<body>
    <h1>DICTIONARY</h1>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="@Url.Action("AddItem", "Dictionary")" class="w3-bar-item w3-button">Add One Item to Dictionary</a>
        <a href="@Url.Action("AddMultipleItems", "Dictionary")" class="w3-bar-item w3-button">Add Huge List of Items to Dictionary</a>
        <a href="@Url.Action("DisplayItems", "Dictionary")" class="w3-bar-item w3-button">Display Dictionary</a>
        <a href="@Url.Action("DeleteItems", "Dictionary")" class="w3-bar-item w3-button">Delete from Dictionary</a>
        <a href="@Url.Action("ClearItems", "Dictionary")" class="w3-bar-item w3-button">Clear Dictionary</a>
        <a href="@Url.Action("SearchItems", "Dictionary")" class="w3-bar-item w3-button">Search Dictionary</a>
        <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a>
    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
            </div>
        </div>

        <div class="w3-container">
            <h3>
                Dictionary Results:
            </h3>
            <p>@ViewBag.DisplayMessage</p>
            <p>@ViewBag.StopWatch</p>
            <p>@Html.Raw((String)ViewBag.myQueue)</p>
        </div>

        <div>
            <p> Click on the side navigation to manipulate the dictionary variable</p>
            <img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1193,w_2121,x_0,y_202/f_auto,q_auto,w_1100/v1554701564/shape/mentalfloss/574505.istock-482021560.jpg" alt="dictionary" style="width:100%">
        </div>
    </div>

    <script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
    </script>

</body>



