
<h2>Index</h2>
<html>
<title>Queue</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="@Url.Action("addItem", "Queue")" class="w3-bar-item w3-button">Add one item to Queue</a>
        <a href="@Url.Action("addListItems", "Queue")" class="w3-bar-item w3-button">Add Huge List of Items to Queue</a>
        <a href="@Url.Action("displayQueue", "Queue")" class="w3-bar-item w3-button">Display Queue</a>
        <a href="@Url.Action("deleteFromQueue", "Queue")" class="w3-bar-item w3-button">Delete from Queue</a>
        <a href="@Url.Action("clearQueue", "Queue")" class="w3-bar-item w3-button">Clear Queue</a>
        <a href="@Url.Action("searchQueue", "Queue")" class="w3-bar-item w3-button">Search Queue</a>
        <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a>
    </div>

    <div id="main">

        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
            </div>
        </div>

        <div class="w3-container">
            <h3>
                Queue Results:
            </h3>
            <p>@ViewBag.DisplayMessage</p>
            <p>@ViewBag.StopWatch</p>
            <p>@Html.Raw((String)ViewBag.myQueue)</p>
        </div>

        <div>
            <p> Click on the side navigation to manipulate the queue variable</p>
            <img src="http://www.b4bguide.com/wp-content/uploads/2016/01/security_queue-1024x552.png" alt="queue" style="width:100%">
        </div>
    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>

</body>
</html>

